Workflow Biblioteca.json
{
  "name": "My workflow POST",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        -176
      ],
      "id": "c9e8b3f7-a4d1-4136-86ee-60f43799d4bd",
      "name": "Iniciar proceso"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ls52WeGW_dBeKJt-08k5UZAeLunjzylL3kdggs4xjf0",
          "mode": "list",
          "cachedResultName": "libros_ejemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ls52WeGW_dBeKJt-08k5UZAeLunjzylL3kdggs4xjf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 135852461,
          "mode": "list",
          "cachedResultName": "libros_ejemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ls52WeGW_dBeKJt-08k5UZAeLunjzylL3kdggs4xjf0/edit#gid=135852461"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -240
      ],
      "id": "de9ab985-8102-486a-836c-3fbdec00e88a",
      "name": "Leer libros desde Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WTsYzNGmh9ygGiBC",
          "name": "Google Sheets LOCAL - jduplantier44@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ String($json.titulo || $json.Titulo || '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition2",
              "leftValue": "={{ String($json.autor || $json.Autor || '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1136,
        -240
      ],
      "id": "0cb31c46-80a7-4d91-b46c-87a0d60c9346",
      "name": "Filtrar registros v치lidos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign1",
              "name": "=titulo",
              "value": "={{ String($json.titulo || $json.Titulo || '') }}",
              "type": "string"
            },
            {
              "id": "assign2",
              "name": "autor",
              "value": "={{ String($json.autor || $json.Autor || '') }}",
              "type": "string"
            },
            {
              "id": "assign3",
              "name": "isbn",
              "value": "={{ String($json.isbn || $json.ISBN || '') }}",
              "type": "string"
            },
            {
              "id": "assign4",
              "name": "editorial",
              "value": "={{ String($json.editorial || $json.Editorial || '') }}",
              "type": "string"
            },
            {
              "id": "assign5",
              "name": "a침o_publicacion",
              "value": "={{ Number($json.a침o_publicacion || $json['A침o Publicacion'] || $json.a침o_publicacion || 0) || null }}",
              "type": "number"
            },
            {
              "id": "assign6",
              "name": "genero",
              "value": "={{ String($json.genero || $json.Genero || '') }}",
              "type": "string"
            },
            {
              "id": "assign7",
              "name": "descripcion",
              "value": "={{ String($json.descripcion || $json.Descripcion || '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -240
      ],
      "id": "25c3e20d-be26-4012-bca0-9dc57daf1993",
      "name": "Normalizar datos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/libros",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "titulo",
              "value": "={{ $json.titulo }}"
            },
            {
              "name": "autor",
              "value": "={{ $json.autor }}"
            },
            {
              "name": "isbn",
              "value": "={{ $json.isbn }}"
            },
            {
              "name": "editorial",
              "value": "={{ $json.editorial }}"
            },
            {
              "name": "a침o_publicacion",
              "value": "={{ $json.a침o_publicacion }}"
            },
            {
              "name": "genero",
              "value": "={{ $json.genero }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        -240
      ],
      "id": "e8b0d6be-d4a9-42ff-8d8b-645f20d1f20d",
      "name": "Enviar a API (POST)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result1",
              "name": "libro_creado",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "result2",
              "name": "status",
              "value": "=exitoso",
              "type": "string"
            },
            {
              "id": "result3",
              "name": "id_generado",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -240
      ],
      "id": "53946c77-1937-42c7-8a56-c9cd7f021de8",
      "name": "Registrar resultado"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "libro_creado"
            },
            {
              "fieldToAggregate": "id_generado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2032,
        -240
      ],
      "id": "75ab5563-9c01-40b1-b812-3f920b5864e0",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "content": "游닀 WORKFLOW BIBLIOTECA\n\nEste workflow lee libros desde Google Sheets y los env칤a a la API para guardarlos en la base de datos PostgreSQL (Neon).\n\nPasos:\n1. Leer datos de Google Sheets\n2. Filtrar registros v치lidos\n3. Normalizar campos\n4. Enviar POST a API\n5. Registrar resultados",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -48
      ],
      "typeVersion": 1,
      "id": "33d374fb-c742-40cc-b793-fccda19bc666",
      "name": "Nota informativa"
    },
    {
      "parameters": {
        "content": "丘멆잺 CONFIGURACI칍N REQUERIDA:\n\n1. Configurar credenciales de Google Sheets\n2. Actualizar el ID del documento\n3. Verificar que la API est칠 corriendo en http://localhost:8000\n4. La API debe estar accesible desde n8n",
        "height": 200,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        -16
      ],
      "typeVersion": 1,
      "id": "85813a9b-63e0-46be-9995-a859424fae5d",
      "name": "Nota de configuraci칩n"
    },
    {
      "parameters": {
        "sendTo": "jduplantier44@gmail.com",
        "subject": "Se cre칩 en la base de datos",
        "message": "=<h1> Libros agregados a la biblioteca </h1>\n\n<div>\n{{ $json.libro_creado }}\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2256,
        -240
      ],
      "id": "dfcee777-64bd-4344-b572-6a2e4c42f454",
      "name": "Send a message",
      "webhookId": "04d98eea-6b8b-4feb-811b-dc1d9ef596c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "zSy6X6C0i54VRHes",
          "name": "Gmail LOCAL - jduplantier44@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "쯈U칄 HACE?                                                          NO registra en base de datos (eso ya lo hizo el paso anterior) Solo SIMPLIFICA los datos de la respuesta de la API.\n\n\n\n\n\n\n\n\n\n\n\nEste nodo EXTRAE solo los campos importantes para el reporte.",
        "height": 288,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -336
      ],
      "typeVersion": 1,
      "id": "db6d3b5e-8cad-48bd-8b07-ae55306e76ec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        -304
      ],
      "id": "b1132cb2-01c2-404c-ac4c-7cc3ab98dbe4",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Iniciar proceso": {
      "main": [
        []
      ]
    },
    "Leer libros desde Google Sheets": {
      "main": [
        [
          {
            "node": "Filtrar registros v치lidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar registros v치lidos": {
      "main": [
        [
          {
            "node": "Normalizar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar datos": {
      "main": [
        [
          {
            "node": "Enviar a API (POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a API (POST)": {
      "main": [
        [
          {
            "node": "Registrar resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar resultado": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leer libros desde Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "322332a6-26c6-4a05-9b67-052a428a6532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b26cd460c990672a673217017457d6ec5896094b39d9eb8e0814a172ab18ace"
  },
  "id": "enXvadoEXRwiVhUZ",
  "tags": []
}